*
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
button{
    border: 0;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
input[type=text]{
    padding: 9px;
    width: 200px;
}
#wrapper{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#questions{
    margin: 90px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
#start, #highscores{
    display: flex;
    align-items: center;
    justify-content: center;
}

#time{
    display: flex;
    justify-content: end;
    color: purple;
}
#highscores {
	flex-direction: column;
}
ol{
	width: 400px;
}
ol>li{
	list-style-position: inside;
	padding-left: 10px;
	background: #fff;
}
ol>li:nth-child(odd){
	background: #eee;
}
#startbtn {
	color: white;
	width: 150px;
	padding: 10px;
	border: 0;
	background: #ffc107;
}
#time{
    display: flex;
    justify-content: end;
    color: purple;
}

#time:hover{
    color:crimson;
}
.score{
    border-style: none;
    padding: 10px;
    margin: 10px;
}
#scores:hover{
    color:crimson;
    

}
#scores{
    color: purple;
}
a {
    text-decoration: none;
}
.finals{
    display: none;
}
  
.answers{
	margin: 0 10px;
	padding: 10px;
	border: 0;
}
.answers:hover{
	background: #007bff;
	color: white;
}
.red,.red:hover{
	background: #c82333;
	color: white;
}
.green,.green:hover{
	background: #218838;
	color: white;
}